.tagSection {
    border-top: 2px solid #afafaf;
    padding-top: 2rem 0;
    margin-top: 3rem 0;
}

.title {
    color: white;
    margin: 2rem 0;
}

.tags {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
    gap: .5rem;
}

.tag {
    background-color: #07d3e1;
    opacity: .8;
    padding: .4rem .8rem;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    color: white;
    box-shadow: 0 2px 6px rgba(119, 201, 221, 0.212);
}

.tag:hover {
    background-color: #09191b;
    border: 1px solid #07d3e1;
    color: white;
}