.darkContainer {
  padding: 2rem 1rem;
  background-color: #09191b;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.lightContainer {
  padding: 2rem 1rem;
  background-color: #fcfcfc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.content {
    width: 100%;
    border-radius: 6px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(26, 26, 26);
  }

  .darkContainer .content {
    color: rgb(255, 255, 255);
  }

  .lightContainer .content {
    color: rgb(29, 29, 29);
  }

  .content .image {
    max-width: 100%;
  }

  @media screen and (min-width: 768px) and (max-width: 1023) {
    .darkContainer,
    .lightContainer {
      margin: 0 4rem;
    }
  }
  