.body {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid #666666;
}

.image {
    display: flex;
    text-align: center;
    width: 100%;
    height: auto;
}

.title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0;
    color: rgb(238, 238, 238);
}

.date {
    margin-top: 0;
    font-size: 12px;
    font-style: italic;
    font-weight: 700;
    color: rgb(184, 184, 184);
}

.topics {
    color: #2b9db9;
    font-weight: 800;
    border-left: 2px solid #2b9db9;
    padding-left: 3px;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 20px;
    }
  }