.darkTagSection,
.lightTagSection {
    position:relative;
    margin: 2rem 0 0 0;
}

.tags {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
    gap: .5rem;
}

.darkTagSection .tag {
    background-color: rgb(20, 33, 36);
    color: white;
    border: 1px solid #07adb9;
}

.lightTagSection .tag {
    background-color: rgb(255, 255, 255);
    color: rgb(30, 50, 54);
    border: 1px solid #07adb9;
}

.tag {

    opacity: .8;
    padding: .4rem .3rem;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 700;
}
