.container {
  padding: 2rem 1rem;
  background-color: #09191b;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.content {
    width: 100%;
    margin: var(--size-8) auto;
    font-size: var(--size-5);
    line-height: var(--size-8);
    background-color: var(--color-grey-100);
    border-radius: 6px;
    padding: var(--size-4);
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(224, 224, 224);
  }

  .content .image {
    max-width: 100%;
  }

  @media screen and (min-width: 768px) and (max-width: 1023) {
    .container {
      padding: 2rem 1rem;
      margin: 0 4rem;
    }
  }

  @media only screen and (min-width: 1024px) {
    .container {
      padding: 2rem 2rem;
      margin: 0 9rem;
    }
  }
  