.header {
    display: flex;
    left: 0;
    right: 0;
    padding: .7rem 2rem;
    align-items: center;
    justify-content: space-between;
    background-color: #0a0416;
  }

  .header svg {
    display: flex;
    color: white;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }


.logo {
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nav {
    position: relative;
}

.navItems {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
}

.navItem {
    display: flex;
    gap: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
    font-size: larger;
}

.navItem:hover {
    color: #08656b;
}

@media screen and (min-width: 768px) {
    .header {
        flex-direction: row;
        padding: .7rem 5rem;
        justify-content: space-between;
    }

    .logo {
        font-size: 28px;
    }

    .navItems {
        gap: 20px;
    }
  }

  @media only screen and (min-width: 1024px) {
    .header {
        padding: .7rem 13rem;
    }
  }
