.header {
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    padding: .7rem 3rem;
    align-items: center;
    justify-content: space-between;
    background-color: #0a0416;
  }


.logo {
    font-size: 28px;
    font-weight: 700;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nav {
    position: relative;
}

.navItems {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.navItem {
    display: flex;
    gap: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
    font-size: larger;
}

.navItem:hover {
    color: #07d3e1;
}

@media screen and (min-width: 768px) {
    .header {
        flex-direction: row;
    }
  }
