.lightHeader {
    display: flex;
    left: 0;
    right: 0;
    padding: .7rem 2rem;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom: 1px solid #dbdbdb;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 50;
  }

  .darkHeader {
    display: flex;
    left: 0;
    right: 0;
    padding: .7rem 2rem;
    align-items: center;
    justify-content: space-between;
    background-color: #0a0416;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.699);
    position: fixed;
    z-index: 50;
  }

  .lightHeader svg {
    display: flex;
    color: rgb(58, 58, 58);
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

  .darkHeader svg {
    display: flex;
    color: white;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

  .darkHeader .logo {
    color: rgb(255, 255, 255);
  }

  .lightHeader .logo {
    color: rgb(58, 58, 58);
  }

.logo {
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
}

.navItems {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
}

.darkHeader .navItem {
    color: rgb(255, 255, 255);
}
.lightHeader .navItem {
    color: rgb(58, 58, 58);
}

.navItem {
    display: flex;
    gap: 10px;
    text-decoration: none;
    font-weight: 600;
    font-size: larger;
}

.navItem:hover {
    color: #08656b;
}

@media screen and (min-width: 768px) {
    .darkHeader,
    .lightHeader {
        flex-direction: row;
        padding: .7rem 5rem;
        justify-content: space-between;
    }

    .logo {
        font-size: 28px;
    }

    .navItems {
        gap: 20px;
    }
  }

  @media only screen and (min-width: 1024px) {
    .darkHeader,
    .lightHeader {
        padding: .7rem 13rem;
    }
  }
