.title {
    text-decoration: none;
    color: #f8f8f8;
    margin: 1rem 0 10px 0;
    font-size: 1.5rem;
}

.item {
    position: relative;
    margin-bottom: 30px;
    min-height: 1px;
    float: left;
    padding-bottom: 1.7rem;
    background-color: #09191b;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #08656b;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.item:hover {
    border: none;
}

.item::before {
  content: "";
  position: absolute;
  bottom: 0px;
  height: 2px;
  width: 0%;
  background: #07d3e1;
  right: 0px;
  transition: width 0.4s;
}

.item:hover:before {
    width: 100%;
  }

.separator {
    margin-bottom: 30px;
    width: 35px;
    height: 3px;
    background: #ffffff;
    border: none;
}

.tags {
    display: flex;
    gap: .5rem;
    margin-bottom: 1rem;
}

.tag {
    background-color: #07d3e1;
    opacity: .8;
    padding: .4rem .8rem;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    color: white;
}

.date {
    display: flex;
    font-size: 12px;
    gap: 0.5rem;
    align-items: center;
    font-style: italic;
    color: #666666;
}

.item p {
    font-size: 13px;
    color: #fffefe;
    margin: 2rem 0;
}

.date svg {
    width: 1.25rem;
    height: 1.25rem;
    color: #666666;
}

.icon {
    margin-left: 0.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}